html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-size: 60.5%;
}

body,
ul {
  padding: 0;
  margin: 0;
}

header {
  min-height: 100vh;
  background-image: url(../assets/beach.jpg);
  background-size: cover;
  background-position: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: "Train One", cursive;
}

.main-menu {
  background: black;
  opacity: 0.7;
  display: flex;
  justify-content: space-evenly;
}

.main-menu li a {
  padding: 20px 20px;
  display: inline-block;
  color: #d5a69a;
  font-size: 2rem;
}

.main-menu li a:hover {
  color: #ffd700;
}

.main-menu li:hover,
.main-menu li:focus-within {
  background-color: black;
}

div {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

h1 {
  font-family: "Dela Gothic One", cursive;
  text-transform: capitalize;
  color: #afeeee;
  font-size: 3.2rem;
  opacity: 0.8;
}

.form {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

h1:hover {
  color: #ffd700;
}

h2 {
  font-family: "Dela Gothic One", cursive;
  text-transform: capitalize;
  color: #829eb2;
  font-size: 2rem;
  letter-spacing: 1.5px;
  opacity: 0.8;
}

input {
  font-size: 1.5rem;
  padding: 10px;
  width: 250px;
  color: aliceblue;
  background-color: black;
  opacity: 0.7;
}

#yuh {
  font-size: 1.5rem;
  margin-top: 10px;
  margin-left: 70px;
  width: 120px;
  height: 40px;
  background-color: black;
  border: none;
  opacity: 0.7;
}

.why {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.content {
  background-color: black;
  opacity: 0.8;
  color: #829eb2;
  padding: 25px;
  font-size: 1.75rem;
}

li {
  list-style: none;
  font-family: "Dela Gothic One", cursive;
  letter-spacing: 1px;
  opacity: 0.8;
}

li p:hover {
  color: #ffd700;
}

.none {
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .main-menu li a {
    padding: 15px 15px;
    display: inline-block;
    color: #d5a69a;
    font-size: 1.2rem;
  }

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  input {
    width: 225px;
  }

  #yuh {
    margin-left: 40px;
  }

  .content {
    padding: 5px;
    font-size: 1.4rem;
  }
}
